.profile {
    display: flex;
    flex-wrap: wrap;
    max-width: 882px;
    position: relative;
    justify-content: space-between;
    margin: auto;
    padding-top: 40px;
}

@media screen and (max-width: 880px) {
  .profile {
    padding-top: 38px;
    padding-right: 45px;
    padding-left: 45px;
  }
}

@media screen and (max-width: 440px) {
  .profile {
    padding-top: 28px;
    justify-content: center;
  }
}