.profile__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  @media screen and (max-width: 440px) {
    .profile__container {
      flex-direction: column;
      margin: auto;
    }
  }