.profile__name {
    width: 373px;
    margin: 0;
    margin-right: 31px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 500;
    font-size: 42px;
    line-height: 1.33;
    color: #FFF;
  }

@media screen and (max-width: 425px) {
    .profile__name {
      font-size: 22px;
      line-height: 56px;
      width: 196px;
      margin: auto;
    }
  }  
  
@media screen and (max-width: 768px) {
    .profile__name {
      font-size: 30px;
      margin-right: 14px;
      width: 267px;
    }
  }

@media screen and (max-width: 1024px) {
    .profile__name {
      font-size: 30px;
      margin-right: 14px;
      width: 267px;
    }
  }
