.profile__button-add {
    display: flex;
    height: 50px;
    width: 150px;
    margin-left: 65px;
    border: 2px solid #FFF;
    background-color: #000;
    background-image: url(../../../images/add-button.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px;
}

.profile__button-add:hover {
    opacity: .8;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .profile__button-add {
        margin-top: 30px;
        background-size: 16px;
        margin-left: 200px;
    }
}

@media screen and (max-width: 969px) {
    .profile__button-add {
        margin-top: 30px;
        background-size: 16px;
        margin-left: 30px;
    }
}

@media screen and (max-width: 785px) {
    .profile__button-add {
        width: 100%;
        margin-top: 30px;
        margin-left: 0;
        background-size: 16px;
    }
}

@media screen and (max-width: 425px) {
    .profile__button-add {
        width: 100%;
        margin-top: 30px;
        background-size: 16px;
        margin-left: 0;
    }
}