.popup__title {
  max-width: 330px;
  height: 23px;
  line-height: 29px;
  font-weight: 900px;
  font-size: 24px;
  color: black;
  margin-top: 34px;
  margin-bottom: 54px;
  margin-left: 36px;
}
  
@media screen and (max-width: 880px) {
  .popup__title {
    font-size: 18px;
    margin-top: 25px;
    margin-left: 24px;
  }
}  

@media screen and (max-width: 440px) {
  .popup__title {
    margin-bottom: 46px;
  }
}